mixin errors(messages)
  .error_box.hidden
    ul.errors
      if (messages)
        if (messages.success.length > 0)
          each message in messages.success
            li.success= message
        if (messages.errors.length > 0)
          each message in messages.errors
            li.error= message
        if (messages.requests.length > 0)
          each message in messages.requests
            li.request= message
        if (messages.alerts.length > 0)
          each message in messages.alerts
            li.alert= message
    a.dismiss.link Dismiss