- var days = ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat']
.tableWrapper
  table#calendar
    thead
      tr
        th.time
        - for (var i = 0; i < 24; i++)
          th
            div= i + ':00'
            
    tbody
      div
      - for (var daysI = 0; daysI < 7; daysI++)
        tr(class= days[daysI])
          td.day
            .dateDisplay
              span.dayDay= days[daysI] + ', '
              span.dayDate
          - for (var i = 0; i < 24; i++)
            td.slot(class= i)
    tfoot
      tr
        th.time
        - for (var i = 0; i < 24; i++)
          th
            div= i + ':00'

#popup_wrapper.hidden
  #popup
    #popup_header
      #popup_title
      #popup_close &#215;
    #existing.hidden
      div
        span.label Summary
        span.summary
      div
        span.label Description
        span.description
      div
        span.label Location
        span.location
      div
        span.label From
        span.exactDateStart
        span.label to
        span.exactDateEnd
      div
        span.label Repeat
        span.rruleFreq
        span.rruleInfo
          |  for 
          span.rruleCount
          |  times from 
          span.dateStart
      div
        span.label Exclude
        ul.exclude
      div
        button#edit_event Edit event
    #new.hidden
      form#event_details(method='post')
        input#event_id(type='hidden' name='event_id')
        div
          label(for='calendar_id') Calendar
          select#calendar_id(name='calendar_id')
        div
          label(for='summary') Summary
          input#summary.fullLength(name='summary')
        div
          label(for='description') Description
          textarea#description(rows='2' name='description')
        div
          label(for='location') Location
          input#location.fullLength(name='location')
        div
          label(for='date_start') From (DD/MM/YYYY HH:mm)
          input#date_start.shortLength(type='text' name='dateStart')
          input#time_start.shortLength(type='text' name='timeStart')
          label(for='date_end') to (DD/MM/YYYY HH:mm)
          input#date_end.shortLength(type='text' name='dateEnd')
          input#time_end.shortLength(type='text' name='timeEnd')
        div
          label(for='rrule_freq') Repeat
          select#rrule_freq(name='rrule_freq')
            option(value='once' selected) No repeat
            option(value='daily') Daily
            option(value='weekly') Weekly
            option(value='monthly') Monthly
            option(value='yearly') Yearly
          span.rruleInfo
            |  for 
            input#rrule_count(type='number' value='1' min='1' max='1024' name='rrule_count')
            |  times
        div
          input#submit_new(type='submit')

div#calendar_controls_wrapper
  div#calendar_controls
    button#before &#9664;
    div#date_info
      p
        span#sun_day
        span  - 
        span#sat_day
      p#year_display
    button#after &#9654;
    
block footScripts
  script(src='/js/timetable.js')