extends layout

block headScript

block content
  - var days = ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT']
  div.tableWrapper
    table
      thead
        tr
          th.day
            div.dayText#monthDisplay
          - for (var i = 0; i < 24; i++)
            th
              div= i + ':00'
              
      tbody
        div
        - for (var daysI = 0; daysI < 7; daysI++)
          tr(class= days[daysI])
            td.day
              div.dayText.dateDisplay
                p= days[daysI]
                p.dayDate
            - for (var i = 0; i < 24; i++)
              td.slot(class= i)

  div.control-block
    button#left <
    button#right >

  div.control-block
    label(for='link') Add your NUSMods: 
    input#nusmods_addr(type='text', placeholder='http://nusmods.com/2014-2015/sem1/v1/', name='link')
    input#add_nusmods(type='submit' value='Add')

  div.control-block
    label(for='createG') Create new Group: 
    input#groupName(type='text', placeholder='New Name', name='createG')
    input#create_group(type='submit' value='Create')

  div.control-block
    label(for='addPerson') Add person: 
    input#user(type='text', placeholder='Person Name', name='createG')
    input#group(type='text', placeholder='Group Name', 
    name='createG')
    input#add_person(type='submit' value='Add Person')
    input#remove_person(type='submit' value='Remove Person')
      
block footScripts
  script(src='/js/timetable.js')
  script(src='/js/group.js')