block vars
  - var title = group.groupName + ' Settings'

 extends layout
include mixins/errors.jade

block headScript

block content
  h2.empty-space= title

  +errors(messages)

  #info_controls
    .info-block
      h3.info-block-title Members
      +errors
      ol#members
        for member in members
          li
            div.name
              span.calendar-name(style='background-color: ' + member.color + ';')= member.display_name
              span.small-text= member.username
            div.control
              if (member.isOwner)
                span.small-text.admin owner
              else if (member.isAdmin)
                span.small-text.admin admin
                if (owner_controls)
                  form.remove(action='/group/' + group.getHash() + '/admin/member/' + member.username method='POST')
                    input(type='hidden' name='_method' value='put')
                    input(type='hidden' name='role' value='1')
                    input.text-input.small-text.red.clickable(type='submit' value='remove admin')
              else
                form.remove(action='/group/' + group.getHash() + '/admin/member/' + member.username method='POST')
                  input(type='hidden' name='_method' value='put')
                  input(type='hidden' name='role' value='2')
                  input.text-input.small-text.green.clickable(type='submit' value='make admin')
                form.remove(action='/group/' + group.getHash() + '/admin/member/' + member.username method='POST')
                  input(type='hidden' name='_method' value='delete')
                  input.text-input.small-text.red.clickable(type='submit' value='remove')
    
    .info-block
      form#delete_group(action='admin/groupName' method='post')
        input(type='hidden' name='_method' value='PUT')
        h3.info-block-title Change Group Name
        +errors
        div
          label(for='group_name') Group name
          input#group_name(name='groupName' type='text')
        div.center-button
          input#change.green(type='submit' value='Change')

    if (owner_controls)
      .info-block
        form#delete_group(action='admin' method='post')
          input(type='hidden' name='_method' value='DELETE')
          h3.info-block-title Delete this Group
          +errors
          div.center-button
            input#create.red.confirm(type='submit' value='Delete group')

block footScripts
