block vars
  - var title = group.groupName + ' Calendar'

 extends layout
include mixins/errors.jade

block headScript

block content
  include calendar

  +errors(messages)

  #info_controls
    .info-block
      h2#group_name= group.groupName
      ul#group_calendar
        li.hidden.small-text-spacing
          span.calendar-name.color-pick.clickable
          span.color-pick.small-text.clickable color
          span.toggle-view.small-text.clickable hide
      h3.info-block-title.empty-space Members
      +errors
      ul#calendars
        li.hidden.small-text-spacing
          span.calendar-name.color-pick.clickable
          span.color-pick.small-text.clickable color
          span.toggle-view.small-text.clickable hide
    .info-block
      form#add_friend(action='/group/' + group.getHash() + '/invite')
        h3.info-block-title Invite a Friend
        +errors
        div
          label(for='friend_name') Username
          input#friend_name(name='url' type='text')
        div.center-button
          input#add.green(type='submit' value='Invite')
    .info-block
      if (isAdmin)
        div
          a(href='/group/' + group.getHash() + '/admin')
            h3.info-block-title Group Settings
      else
        form#leave_group(action='/group/' + group.getHash() + '/leave' method='POST')
          h3.info-block-title Leave Group
          +errors
          div.center-button
            input#leave.red.confirm(type='submit', value='Leave')

block footScripts
  script(src='/js/groupCalendar.js')