extends layout
include mixins/errors.jade

block headScript

block content
  h2.empty-space= group.groupName + ' Settings'

  +errors(messages)

  #info_controls
    .info-block
      h3.info-block-title Members
      +errors
      ol#members
        for member in members
          li
            div.name
              span.calendar-name(style='background-color: ' + member.color + ';')= member.display_name
              span.small-text= member.username
            div.control
              if (!member.isAdmin)
                span.small-text.admin admin
              else
                form.remove(action='/group/' + group.getHash() + '/admin/member/' + member.username method='POST')
                  input(type='hidden' name='_method' value='delete')
                  input.text-input.small-text.red.clickable(type='submit' value='remove')
    .info-block
      form#delete_group(action='' method='post')
        h3.info-block-title Delete this group
        +errors
        div
          input#create.red(type='submit' value='Delete group')

block footScripts