doctype html
html(lang='en')
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=0.5')
    script(src='/vendor/jquery-2.1.1.min.js')

    //- Test environment during BrowserSync.
    if (true) 
      script(src='/vendor/socket.io.js')

    block headScripts
    link(rel='stylesheet', href='/vendor/bootstrap.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    block content
    block footScripts