doctype html
block vars

html(lang='en')
  head
    title= title + " - Slother"
    meta(name='viewport' content='width=device-width, initial-scale=0.8, maximum-scale=0.8')
    script(src='/vendor/jquery-2.1.1.min.js')
    script(src='/vendor/moment.min.js')

    block headScripts
    link(rel='stylesheet' href='/css/main.css')
    link(href='http://fonts.googleapis.com/css?family=Telex' rel='stylesheet' type='text/css')
    script(src='/js/slother.js')

  body
    header
      nav
        a(href='/')
          #brand
            h1 - Slother -
        
        div#links
          if (user)
            span#user
              | Hi, 
              a#username(href='/user')= user.display_name
            a#groups(href='/group') Groups
            a#profile_link(href='/user') Profile
            #notification
              if (user.requests.length > 0)
                a#number.has-notifications(href='/user')= user.requests.length
              else
                a#number.no-notifications(href='/user')= user.requests.length
              
          else
            a(href='/login') Login
            a(href='/register') Register
            
    div#content
      block content

    include footer

    block footScripts
