doctype html
html(lang='en')
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=0.5')
    script(src='/vendor/jquery-2.1.1.min.js')
    script(src='/vendor/moment.min.js')

    //- Test environment during BrowserSync.
    if (true) 
      script(src='/vendor/socket.io.js')

    block headScripts
    //-link(rel='stylesheet', href='/vendor/bootstrap.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    #header
      .left
        h1 Sloth
      nav.right
        if (user)
          h1= 'Hello ' + user.username
        else
          a(href='/login') Login
          a(href='/login/register') Register
      .clear
        if (message)
          h3= message
        if (error)
          h3= error.message
    block content
    block footScripts