doctype html
html(lang='en')
  head
    title= title
    script(src='/vendor/jquery-2.1.1.min.js')

    //- Test environment during BrowserSync.
    if (true) 
      script(src='/vendor/socket.io.js')

    block script
    link(rel='stylesheet', href='/vendor/bootstrap.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    block content