doctype html
html(lang='en')
  head
    - var title = title || "Slother"
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.5')
    script(src='/vendor/jquery-2.1.1.min.js')
    script(src='/vendor/moment.min.js')

    block headScripts
    //-link(rel='stylesheet', href='/vendor/bootstrap.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    #header
      nav
        #brand
          a(href='/')
            h1 Slother
        if (user)
          span
            | Hey 
            span#username= user.username
          a(href='/logout') Logout
        else
          a(href='/login') Login
          a(href='/register') Register
      if (messages)
        if (messages.errors.length > 0)
          #errors
            each message in messages.errors
              span.message= message
        if (messages.alerts.length > 0)
          #alerts
            each message in messages.alerts
              span.message= message
    div#content
      block content
    block footScripts