extends layout

block headScript

block content
  h2 Register
  form(method='post', action='/register')
    input(type='text', placeholder='username', name='username')
    input(type='password', placeholder='password', name='password')
    input(type='submit')

  form(method='get', action='/login/nus')
    input(type='hidden', name='openid_identifier', value='https://openid.nus.edu.sg')
    input(type='submit' value='Register with NUS OpenID')

block footScripts