extends layout
include mixins/errors.jade

block headScript

block content
  h2.empty-space Continue registration

  +errors(messages)

  div.forms-wrapper
    form#register_default(method='post' action='/register/complete')
      div
        label(for='username') Username
          input#username(type='text' placeholder='username' name='username' autofocus value=user.username)
      div
        label(for='display_name') Display name
          input#display_name(type='text' placeholder='display name' name='display_name' value=user.display_name)
      div
        input.green(type='submit' value='Complete registration')
    div
      form#register_nus(method='get' action='/login/nus')
        input(type='hidden' name='openid_identifier' value='https://openid.nus.edu.sg')
        input(type='submit' value='Use NUS OpenID')

block footScripts