extends layout

block headScript

block content
  include calendar

  #info_controls
    .info-block
      h3.info-block-title Your calendars
      ul#calendars
        li.hidden
          span.calendar-name
          span.toggle-view.small-text hide
    .info-block
      form#add_calendar
        h3.info-block-title Add a calendar
        div
          label(for='type') Type
          select#type(name='type')
            option(value='nusmods') NUSMods.com
            option(value='generic') Generic (not implemented)
        div
          label(for='url') URL
          input#url(name='url' type='text' placeholder='http://nusmods.com/timetable/2014-2015/sem1?')
        div
          input#add.green(type='submit' value='Add calendar')

block footScripts
  script(src='/js/soloCalendar.js')