block vars
  - var title = 'Calendar'

extends layout
include mixins/errors.jade

block headScript

block content
  include calendar

  +errors(messages)
  
  #info_controls
    .info-block
      h3.info-block-title Calendars
      +errors
      ul#calendars
        li.hidden.small-text-spacing
          span.calendar-name.color-pick.clickable
          span.small-text.color-pick.clickable color
          span.toggle-view.small-text.clickable hide
      h3.info-block-title.empty-space Group Calendars
      +errors
      ul#group_calendars
        li.hidden.small-text-spacing
          span.calendar-name
          span.toggle-view.small-text.clickable hide
    .info-block
      form#add_calendar
        h3.info-block-title Add a Calendar
        +errors
        div
          label(for='type') Type
          select#type(name='type')
            option(value='nusmods' data-label='URL') NUSMods.com
            option(value='generic' data-label='Name') Generic
        div#nusmods
          label(for='nusmods_string') URL
          input#nusmods_string(name='string' type='text' placeholder='http://nusmods.com/timetable/2014-2015/sem1?')
        div#generic.hidden
          label(for='generic_string') Name
          input#generic_string(name='string' type='text')
        div.center-button
          input#add.green(type='submit' value='Add calendar')

block footScripts
  script(src='/js/soloCalendar.js')