/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Begin reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
  background-image: url('/images/background.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:link, a:active, a:visited, a:hover, .link {
  text-decoration: none;
  color: #960;
}
/* End reset */

/*v layout.jade v*/
body {
  font-family: 'Telex', sans-serif;
  overflow-x: hidden;
  font-size: 14px;
  margin-bottom: 60px;
  color: #333;
}
input, select, textarea, button {
  font-family: 'Telex', sans-serif;
  margin-left: 0;
  margin-bottom: 2px;
  color: #333;
  font-size: 13px;
}
h1 {
  font-size: 18px;
  padding-top: 2px;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
}
h2 {
  font-size: 24px;
  padding: 0 0 16px 0;
  font-weight: 600;
}
h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 4px 0 8px -2%;
}
header {
  margin: 4px auto;
  background-color: #fff;
}
nav {
  margin: 4px auto;
  max-width: 500px;
  text-align: left;
  position: relative;
  height: 24px;
  white-space: nowrap;
}
.ignition {
  width: 100%;
  max-width: 500px;
}
.clickable {
  cursor: pointer;
}
.small-text-spacing > * {
  margin-right: 8px;
}
ol, ul {
  margin-bottom: 8px;
}
#brand { /* Hide text if screen is damn small. */
  display: inline-block;
  padding: 0 8px;
  position: relative;
  z-index: 20;
}
#links {
  display: inline-block;
  text-align: right;
  position: absolute;
  top: 6px;
  right: 4px;
  padding-left: 130px;
  max-width: 370px;
  z-index: 0;
}
#links > * {
  margin-left: 16px;
  display: inline-block;
  vertical-align: bottom;
}
#user {
  position: relative;
  right: 5px;
  display: inline-block;
  max-width: 40%;
  color: #960;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 0;
}
#number {
  font-size: 14px;
  padding: 2px 8px;
  border-radius: 8px;  
}
a.has-notifications {
  color: #fff;
  background-color: #f66;
}
a.no-notifications {
  color: #333;
  background-color: #ccc;
}
#content {
  margin: auto auto;
  text-align: center;
}
#content > h2 {
  margin-top: 32px;
}
.hidden {
  display: none;
}
.fade {
  opacity: 0.2;
}
label, span.label {
  display: block;
  color: #999;
  text-transform: uppercase;
  font-size: 12px;  
}
input#username {
  text-transform: lowercase;
}
input[type='submit'], input[type='button'], button {
  padding: 4px 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  color: #444;
}
input[type='submit']:hover, input[type='button']:hover, button:hover {
  border: 2px solid #ddd;
  outline: none;  
}
input[type='submit']:active, input[type='button']:active, button:active {
  border: 2px solid #eee;
  outline: none;
}
input.text-input, input.text-input:hover, input.text-input:active {
  border: 0;
  border-radius: 2px;
  padding: 2px 8px;
  text-transform: lowercase;
  position: relative;
  top: -1px;
  background-color: auto;
}
.green {
  background-color: #dafecc;
}
.red {
  background-color: #fecccc;
}
.yellow {
  background-color: #fef4cc;
}
.blue {
  background-color: #ccd1fe;
}
.purple {
  background-color: #e1ccfe;
}
.pink {
  background-color: #fbccfe;
}
.orange {
  background-color: #fee7cc;
}
.grey, .gray {
  background-color: #e6e6e6;
}
form > div {
  margin-bottom: 8px;
}
#try_it {
  text-align: center;
}
#try_it > form {
  display: inline-block;
  margin-right: 8px;
}
/*^ layout.jade ^*/

/*v errors.jade v*/
.errors {
  margin-bottom: 0;
}
.error_box {
  margin: 2px auto;
  padding: 0;
  text-align: right;
  width: 90%;
  max-width: 480px;
}
.errors li {
  margin-bottom: 2px;
  text-align: center;
  display: block;
  padding: 4px 20px 4px 16px;
  background-color: #ffc;
  border-radius: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  position: relative; 
}
.error {
  color: #f66;
}
.alert {
  color: #c93;
}
.request, .success {
  color: #6c6;
}
.error-close {
  cursor: pointer;
  padding: 2px;
  position: absolute;
  right: 2px;
  top: 0;
  font-size: 18px;
}
.dismiss {
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
  padding: 2px 16px;
}
/*^ errors.jade ^*/

/*v login.jade v*/
.forms-wrapper {
  margin: auto auto;
}
.forms-wrapper label {
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}
.forms-wrapper div {
  margin-bottom: 12px;
}
.forms-wrapper input, .forms-wrapper label {
  width: 90%;
  max-width: 192px;
}
.forms-wrapper input[type='text'], .forms-wrapper input[type='password'] {
  width: 100%;
  max-width: 188px;
}
.confirm-block > input {
  margin: 0 4px;
}
/*^ login.jade ^*/

/*v calendar.jade v*/
div.tableWrapper {
  margin: 0 12px;
  overflow-x: scroll;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.5);
}
#calendar {
  margin: 12px 0;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  table-layout: fixed;
}
#calendar thead th {
  border: 0;
  padding-bottom: 2px;
}
#calendar tfoot th {
  border: 0;
  padding-top: 2px;
}
#calendar td {
  border: 1px solid #ccc;
  padding: 0px;
  min-width: 75px;
  max-width: 75px;
  height: 30px;
  vertical-align: top;
  padding-bottom: 12px;
}
#calendar .slot {
  position: relative;
}
#calendar th div {
  text-align: left;
  font-size: 10px;
}
#calendar .day {
  z-index: 5;
  background-color: #fff;
  border: 0;
  max-width: 0;
  min-width: 0;
  vertical-align: bottom;
}
#calendar .dayDay {
  text-transform: capitalize;
}
#calendar .dateDisplay {
  z-index: 10;
  background-color: rgba(240, 240, 224, 0.8);
  position: absolute;
  left: 0;
  line-height: 10px;
  height: 10px;
  border: 0;
  border-top-right-radius: 16px;
  width: 75px;
  margin-top: -2px;
  padding: 3px 0 1px 8px;
  font-size: 10px;
}
#calendar .dayDate {
  font-size: 13px;
  font-weight: 800;
  color: #222;
}
#calendar .dayMonth {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 800;
  color: #666;
}
.item {
  position: absolute;
  line-height: 10px;
  min-height: 10px;
  z-index: 5;
  padding: 2px;
  overflow: hidden;
  white-space: pre;
  font-size: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
/*^ calendar.jade ^*/

/*v #popup v*/
#popup_wrapper {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.4);
  -webkit-transform: translate3d(0, 0, 0);
}
#popup {
  top: 10%;
  position: relative;
  margin: auto auto;
  width: 70%;
  max-width: 400px;
  max-height: 60%;
  margin-bottom: 30px;
  overflow-y: scroll;
  padding: 8px 20px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #aaa;
  border-radius: 2px;
  text-align: left;
  white-space: normal;
}
#popup_header {
  margin: 4px 0;
  position: relative;
  line-height: 24px;
}
#popup_title {
  font-weight: 800;
}
#popup_close {
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
  height: 24px;
  width: 24px;
}
p ol {
  display: inline-block;
}
span.rruleFreq {
  text-transform: capitalize;
}
#popup input.shortLength {
  width: 40%;
  margin-right: 8px;
}
#popup input.fullLength {
  width: 100%;
}
#popup textarea {
  width: 100%;
  resize: vertical;
  padding: 1px;
  font-family: 'Telex', sans-serif;
}
#popup input[type='submit'] {
  margin-right: 8px;
}
#popup input[type='checkbox'] {
  position: relative;
  top: 2px;
}
#existing > div {
  margin-bottom: 8px;
}
label.exclude {
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
#popup .highlight {
  color: #ef8c6c;
}
#popup button {
  margin-right: 8px;
  margin-bottom: 8px;
}
/*^ #popup ^*/

/*v #info_controls v*/
#info_controls h2 {
  margin-left: -2%;
}
#info_controls {
  margin: auto auto;
  width: 85%;
  max-width: 480px;
  position: relative;
}
.info-block input#nusmods_addr {
  width: 200px;
}
.info-block input[type='text'] {
  width: 100%;
}
.info-block input[type='submit'] {
  margin: auto auto;
}
.info-block .center-button {
  text-align: center;
}
.info-block {
  position: relative;
  text-align: left;
  margin: 4px 0;
  padding: 5% 5% 5% 6%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  word-wrap: break-word;
}
.small-text {
  color: #666;
  font-size: 10px;
}
#calendars li, #group_calendars li {
  margin-top: 5px;
}
#group_calendar {
  margin-bottom: 8px;
}
.calendar-name {
  padding: 0 8px;
  border-radius: 2px;
}
/*^ #info_controls ^*/

/*v #calendar_controls v*/
#calendar_controls_wrapper {
  z-index: 25;
  width: 100%;
  display: block;
  height: 30px;
  background-color: #ffefc0;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 7px 0 9px 0;
}
#calendar_controls {
  margin: auto auto;
  width: 90%;
  max-width: 500px;
  white-space: nowrap;
  position: relative;
}
#before, #after {
  height: 34px;
  width: 34px;
  min-width: 34px;
  max-width: 34px;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
  border: 0;
  top: -2px;
  cursor: pointer;
  background-color: #b86;
  color: #eee;
  outline: none;
  z-index: 25;
  display: inline-block;
  position: absolute;
  padding: 0;
}
#before {
  left: 0;
}
#after {
  right: 0;
}
#date_info {
  position: absolute;
  left: 54px;
  font-size: 12px;
  line-height: 16px;
}
#view_controls {
  position: absolute;
  right: 54px;
  display: inline-block;
  width: 50%;
}
#view_controls > div {
  font-size: 12px;
  line-height: 16px;
  height: 16px;
  text-align: right;
}
#view_controls .label {
  display: inline;
  font-size: 10px;
}
#view_controls button {
  width: auto;
  padding: 0;
  border: 0;
  margin: 0;
  background: none;
  font-size: 12px;
  color: #960;
}
#view_controls > div > * {
  margin-left: 8px;
}
#view_controls button.fade {
  opacity: 0.3;
}
/*^ #calendar_controls ^*/

/*v #colorpicker v*/
#colorpicker {
  margin-top: 4px;
  margin-left: 4px;
}
.color {
  border: 0;
  height: 14px;
  width: 14px;
  padding: 0;
  margin: 1px;
  cursor: pointer;
}
/*^ #colorpicker ^*/

/*v user.jade v*/
.cal-func {
  padding:0px;
  margin: 5px;
  display: none;
}
.cal-func input {
  display: inline-block;
}
.cal-name {
  margin-bottom: 4px;
}
.cal-change {
  margin-bottom: 8px;
}
.cal-change-name, .cal-delete, .cal-privacy  {
  display: inline-block;
}
.cal-change input[type=text], .cal-change select {
  width: 150px;
  margin-right: 32px;
}
.group-data {
  margin-bottom: 4px;
}
#user_name, #displayname {
  height: 20px;
  line-height: 20px;
}
.profile_header {
  margin-bottom: 20px;
}
.profile_value {
  position: absolute;
  right: 20px;
  margin: 0;
}
#change_display_name {
  display: none;
  padding: 10px;
  text-align: center;
}
.nothing-display {
  color: #999;
}
.picture {
   width: 5%; 
   height: 5%;
}
.privacy_state {
  color: red;
}
.requests > input[type='submit'] {
  margin-left: 8px;
}
/*^ user.jade ^*/

/*v groupAdmin.jade v*/
#members form {
  display: inline-block;
}
#members li {
  margin-bottom: 4px;
}
#members li > * {
  margin-right: 16px;
  display: inline-block;
}
#members li > div > * {
  margin-right: 8px;
}
#members .admin {
  color: #c66;
}
/*^ groupAdmin.jade ^*/


/*v footer.jade v*/
footer {
  margin: 64px auto 0 auto;
  display: block;
  text-align: center;
  font-size: 12px;
}
footer > * {
  margin: 0 16px;
}
/*^ footer.jade ^*/