/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* Begin reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:link, a:active, a:visited, a:hover {
  text-decoration: none;
  color: #960;
}
/* End reset */

/*v layout.jade v*/
body {
  font-family: 'Telex', sans-serif;
  overflow-x: hidden;
  font-size: 14px;
  margin-bottom: 60px;
  color: #333;
}
input, select, textarea {
  font-family: 'Telex', sans-serif;
  margin-left: 0;
  color: #333;
}
h1 {
  font-size: 18px;
  padding-top: 2px;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
}
h2 {
  font-size: 24px;
  padding: 16px 0;
  font-weight: 600;
}
header {
  margin: 4px auto;
  background-color: #fff;
}
nav {
  margin: 4px auto;
  max-width: 500px;
  text-align: left;
  position: relative;
  height: 24px;
  white-space: nowrap;
}
#brand { /* Hide text if screen is damn small. */
  display: inline-block;
  padding: 0 8px;
  position: relative;
  z-index: 20;
}
#links {
  display: inline-block;
  text-align: right;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 100%;
  z-index: 0;
}
#links > * {
  margin-left: 16px;
  display: inline-block;
  vertical-align: bottom;
}
#user {
  display: inline-block;
  max-width: 40%;
  color: #960;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  z-index: 0;
}
#number {
  font-size: 14px;
  color: #fff;
  background-color: #f66;
  padding: 2px 8px;
  border-radius: 8px;  
}
#errors, #alerts, #requests {
  padding: 0;
  text-align: center;
}
.message {
  display: block;
  padding: 4px 8px;
  background-color: #ffc;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  margin: 2px auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}
#errors .message {
  color: #f66;
}
#alerts .message {
  color: #c93;
}
#requests .message {
  color: #6c6;
}
#content {
  margin: auto auto;
  text-align: center;
}
.hidden {
  display: none;
}
.fade {
  opacity: 0.2;
}
.empty-space {
  margin: 16px;
}
label, span.label {
  display: block;
  color: #999;
  text-transform: uppercase;
  font-size: 12px;  
}
input[type='submit'], input[type='button'] {
  padding: 4px 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  color: #444;
}
input[type='submit']:hover, input[type='button']:hover {
  border: 2px solid #ddd;
  outline: none;  
}
input[type='submit']:active, input[type='button']:active {
  border: 2px solid #eee;
  outline: none;
}
input.green {
  background-color: #e5fbbf;
}
input.red {
  background-color: #fbcfc5;
}
form > div {
  margin-bottom: 8px;
}
/*^ layout.jade ^*/

/*v login.jade v*/
.forms-wrapper {
  margin: auto auto;
}
.forms-wrapper label {
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}
.forms-wrapper div {
  margin-bottom: 12px;
}
.forms-wrapper input, .forms-wrapper label {
  width: 90%;
  max-width: 192px;
}
.forms-wrapper input[type='text'], .forms-wrapper input[type='password'] {
  width: 100%;
  max-width: 188px;
}
/*^ login.jade ^*/

/*v calendar.jade v*/
div.tableWrapper {
  margin: 0 12px;
  overflow-x: scroll;
  text-align: left;
}
#calendar {
  margin: 12px 0;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  table-layout: fixed;
}
#calendar thead th {
  border: 0;
  padding-bottom: 2px;
}
#calendar tfoot th {
  border: 0;
  padding-top: 2px;
}
#calendar td {
  border: 1px solid #ccc;
  padding: 0px;
  min-width: 75px;
  max-width: 75px;
  height: 30px;
}
#calendar td {
  vertical-align: top;
  padding-bottom: 12px;
}
#calendar .slot {
  position: relative;
  cursor: pointer;
}
#calendar th div {
  text-align: left;
  font-size: 10px;
}
#calendar .day {
  z-index: 5;
  background-color: #fff;
  border: 0;
  max-width: 0;
  min-width: 0;
  vertical-align: bottom;
}
#calendar .dayDay {
  text-transform: capitalize;
}
#calendar .dateDisplay {
  z-index: 10;
  background-color: rgba(240, 240, 224, 0.8);
  position: absolute;
  left: 0;
  line-height: 10px;
  height: 10px;
  border: 0;
  border-top-right-radius: 16px;
  width: 75px;
  margin-top: -2px;
  padding: 2px 0 2px 8px;
  font-size: 10px;
}
.item {
  position: absolute;
  z-index: 5;
  padding: 2px;
  overflow: hidden;
  white-space: pre;
  font-size: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
/*^ calendar.jade ^*/

/*v #popup v*/
#popup_wrapper {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.4);
  -webkit-transform: translate3d(0, 0, 0);
}
#popup {
  top: 10%;
  position: relative;
  margin: auto auto;
  width: 70%;
  max-width: 400px;
  max-height: 60%;
  margin-bottom: 30px;
  overflow-y: scroll;
  padding: 8px 20px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #aaa;
  border-radius: 2px;
  text-align: left;
  white-space: normal;
}
#popup_header {
  margin: 4px 0;
  position: relative;
  line-height: 24px;
}
#popup_title {
  font-weight: 800;
}
#popup_close {
  text-align: center;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
  height: 24px;
  width: 24px;
}
p ol {
  display: inline-block;
}
span.rruleFreq {
  text-transform: capitalize;
}
#popup input.shortLength {
  width: 40%;
  margin-right: 8px;
}
#popup input.fullLength {
  width: 100%;
}
#popup textarea {
  width: 100%;
  resize: vertical;
  padding: 1px;
  font-family: 'Telex', sans-serif;
}
#popup input[type='submit'] {
  margin-right: 8px;
}
#existing > div {
  margin-bottom: 8px;
}
/*^ #popup ^*/

/*v #info_controls v*/
h3.info-block-title {
  font-size: 16px;
  font-weight: 600;
  margin: 4px 0;
}
#info_controls {
  margin: auto auto;
  width: 95%;
  max-width: 480px;
  position: relative;
}
.info-block input#nusmods_addr {
  width: 200px;
}
.info-block input[type='text'] {
  width: 100%;
}
.info-block input[type='submit'] {
  display: block;
  margin: auto auto;
}
.info-block {
  text-align: left;
  margin: 4px 0;
  padding: 5%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.toggle-view {
  font-size: 10px;
  color: #666;
  cursor: pointer;
  margin-left: 8px;
}

ul li {
  margin-top: 5px;
}
/*^ #info_controls ^*/

/*v #calendar_controls v*/
#calendar_controls_wrapper {
  z-index: 25;
  width: 100%;
  display: block;
  height: 30px;
  background-color: #ffefc0;
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 7px 0 9px 0;
}
#calendar_controls {
  margin: auto auto;
  white-space: nowrap;
}
#calendar_controls button {
  height: 34px;
  width: 20%;
  max-width: 34px;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
  border: 0;
  top: -2px;
  cursor: pointer;
  background-color: #b86;
  color: #eee;
  outline: none;
  z-index: 25;
}
#before {
  display: inline-block;
  position: relative;
  left: 0;
}
#after {
  display: inline-block;
  position: relative;
  right: 0;
}
#date_info {
  width: 60%;
  max-width: 400px;
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
}
#groups li {
  margin: 2px;
}
/*^ #calendar_controls ^*/